@import "reboot.min.scss";
@import "fonts.scss";

body {
  font-family: Archangelsk;
  color: black;
}
// Главная
.main {
  max-width: 100%;
  position: relative;
  .main__more {
    position: absolute;
    width: 624px;
    height: 369px;
    top: 631px;
    left: 968px;
    background-color: #f8f200;
    padding: 0 70px;
    padding-top: 75px;
    margin-bottom: 50px;
    overflow: hidden;
    clip-path: polygon(
      50px 0,
      0 0,
      100% 0,
      100% calc(100% - 50px),
      calc(100% - 50px) 100%,
      0 100%,
      0 0,
      0 50px
    );
  }
  .main__text {
    font-size: 62px;
    line-height: 100%;
  }
  .main__learn-more {
    display: inline-block;
    background-color: black;
    color: #f8f200;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
    padding: 21px 51px;
    margin-top: 10px;
    text-decoration: none;
  }
}
.header {
  width: 1280px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  .header__logo {
  }
  .header__socials {
    width: 379px;
  }
  .header__socials_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
//Краткая информация об игре и рызыгрышь призов
.info-game {
  max-width: 100%;
  padding: 0 320px;
  padding-top: 70px;
}
.info-game__pecture {
}
.info-game__pecture_grid {
}
.lottery {
}
.lottery__title {
}
.lottery__main {
}
.lottery__main_flex {
}
.lottery__input {
}
.lottery__product {
}
